body {
    margin: 0;
    background: #070707;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #e7b83f;
    margin-top: 100px;
    font-size: 45px;
}

p {
    color: #aaa;
    font-size: 18px;
}
